.esgal-player-token-section{
    width: 95%;
    margin: 0 auto;
}

.esgal-player-token-label {
    font-family: $font-two;
    font-size: 1.5rem;
}

.esgal-player-token-write {
    font-family: $font-two;
    font-size: 2rem;
}

.esgal-player-token-div{
display: flex;
justify-content: space-between;
padding-top: 1rem;
}

.esgal-player-token-div2{
    padding-top: 1rem;
}