
//Font Imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

//Colors
$color-one:#222222;
$color-two:#ffffffee;

//Fonts
$font-one:'Montserrat', sans-serif;

//Responsive min-values
$screen-tablet:500px;
$screen-computer: 800px;

//util Classes
.display-none{
    display: none;
}

.global-body{
    background: url('../img/fundo-princial.jpg');
    background-position: center;
    background-size: 2550px;
    overflow: hidden;
}

.global-container{    
    background-color: #ffffffe1;   
    min-height: 700px;
    margin: 0 auto;
    max-width: 900px;
    @media (min-width:$screen-tablet) {
        width: 80%;
    }
}

.global-title{
   font-family: $font-one;
   text-align: center;
   font-size: 2rem;
   padding: 2rem 0;
}