
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$color-one:#222222;
$color-two:#ffffffee;

$font-one:'Montserrat', sans-serif;

.display-none{
    display: none !important;
}
