.header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-one;
    color: $color-two;
    font-family: $font-one;
}

.header-div-flex {
    display: flex;
}

.header-button-hamburguer {
    position: fixed;
    left: 0;
    height: 3rem;
    width: 3.1rem;
    border: 0;
    background: $color-one;
    background: url('../img/Hamburger_icon.svg');
    background-position: center;
    background-size: 2.5rem;
    background-repeat: no-repeat;
    transition: all .3s;

    &:focus {
        outline: none;
    }

    &:active{
        transform: scale(1.1);
    }
}

.header-h1 {
    font-size: 2rem;
    padding: .5rem 0;
}

.header-ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
        font-size: 1.4rem;
        padding: .3rem 0;
    }    
}