.header-main {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-one;
    color: $color-two;
    font-family: $font-one;
    z-index: 10;
}

.header-div-flex {
    display: flex;
}

.header-button-hamburguer {
    position: fixed;
    left: 0;
    height: 3rem;
    width: 3.1rem;
    border: 0;
    background: $color-one;
    background: url('../img/Hamburger_icon.svg');
    background-position: center;
    background-size: 2.5rem;
    background-repeat: no-repeat;
    transition: all .3s;

    &:focus {
        outline: none;
    }

    &:active {
        transform: scale(1.1);
    }
}

.header-Link{
    text-decoration: none;
    color: white;
}

.header-h1 {
    font-size: 2rem;
    padding: .5rem 0;
}

.header-ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
        font-size: 1.4rem;
        padding: .3rem 0;
    }
}

@media (min-width:$screen-computer) {

    .header-main{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
    }

    .header-button-hamburguer{
        display: none;
    }

    #header-nav {
        display: block;
    }

    .header-ul{
        flex-direction: row;
        li{
            padding: 0 1rem;
        }
    }
}