.login-or-create-section{
    display: flex;
    align-items: center;
    flex-direction: column;   
}

.login-or-create-name-search-flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-or-create-content-fex{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-or-create-new-character-flex{

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}