@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.display-none {
  display: none; }

.global-body {
  background: url("../img/fundo-princial.jpg");
  background-position: center;
  background-size: 2550px;
  overflow: hidden; }

.global-container {
  background-color: #ffffffe1;
  min-height: 700px;
  margin: 0 auto;
  max-width: 900px; }
  @media (min-width: 500px) {
    .global-container {
      width: 80%;
      box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1), -1px -1px 3px 3px rgba(0, 0, 0, 0.1); } }

.global-title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0; }

.global-label {
  font-family: "Montserrat", sans-serif; }

.global-input {
  font-family: "Montserrat", sans-serif;
  height: 2rem;
  min-width: 15rem;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.5rem; }

.global-button {
  font-family: "Montserrat", sans-serif;
  height: 2rem;
  margin-top: 1.5rem;
  padding: 0 2rem; }

.global-button:hover {
  color: #f19224; }

.global-button:focus {
  outline: none; }

.global-button:active {
  transform: scale(1.05); }

.header-main {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222222;
  color: #ffffffee;
  font-family: "Montserrat", sans-serif;
  z-index: 10; }

.header-div-flex {
  display: flex; }

.header-button-hamburguer {
  position: fixed;
  left: 0;
  height: 3rem;
  width: 3.1rem;
  border: 0;
  background: #222222;
  background: url("../img/Hamburger_icon.svg");
  background-position: center;
  background-size: 2.5rem;
  background-repeat: no-repeat;
  transition: all .3s; }
  .header-button-hamburguer:focus {
    outline: none; }
  .header-button-hamburguer:active {
    transform: scale(1.1); }

.header-Link {
  text-decoration: none;
  color: white; }

.header-h1 {
  font-size: 2rem;
  padding: .5rem 0; }

.header-ul {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header-ul li {
    font-size: 1.4rem;
    padding: .3rem 0; }

@media (min-width: 800px) {
  .header-main {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px; }

  .header-button-hamburguer {
    display: none; }

  #header-nav {
    display: block; }

  .header-ul {
    flex-direction: row; }
    .header-ul li {
      padding: 0 1rem; } }
.themeButtons-buttons-flex {
  display: flex;
  align-items: center;
  flex-direction: column; }

.themeButtons-button {
  width: 300px;
  height: 100px;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  border: solid .1px;
  color: white;
  border-radius: 10px; }

.themeButtons-button:hover {
  color: #f19224; }

.themeButtons-button:focus {
  outline: none; }

.themeButtons-button:active {
  transform: scale(1.05); }

.themeButtons-esgal {
  background: url("../img/esgal.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px; }

.themeButtons-crimmah {
  background: url("../img/crimmah.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px; }

.themeButtons-yggdrasil {
  background: url("../img/yggdrasil.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px; }

.login-or-create-section {
  display: flex;
  align-items: center;
  flex-direction: column; }

.login-or-create-name-search-flex {
  display: flex;
  align-items: center;
  flex-direction: column; }

.login-or-create-content-fex {
  display: flex;
  align-items: center;
  flex-direction: column; }

.login-or-create-new-character-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem; }

.esgalCreation-form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.esgalCreation-input-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem; }

.esgalCreation-button-skills-flex {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }

.esgalCreation-button-skill {
  height: 3rem;
  min-width: 140px;
  margin-top: 2rem; }

.esgalCreation-button-submit {
  margin-top: 2rem; }

.magico {
  background: rgba(0, 153, 255, 0.212); }

.divino {
  background: rgba(255, 238, 0, 0.486); }

.fisico {
  background: rgba(206, 17, 42, 0.404); }

.geral {
  background: rgba(159, 163, 161, 0.212); }

/*# sourceMappingURL=styles.css.map */
